:root {
  --first-color: #2A2A2A;
  --secondary-color: #3B3B3B;
  --third-color: #EF7F2E;
  --fourth-color: #F7F7F7;
  --fifth-color: #F0F4F7;
  --sixth-color: #333333;
  --sidebar-width: 250px;
  --mainview-width: calc(100% - var(--sidebar-width));

}

body {
  background-color: var(--secondary-color);
  text-decoration: none;
  font-family: 'Ubuntu Mono', monospace;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image_logo {
  height: 40px;
  margin-right: 10px;
}

.header_container {
  padding-left: 50px;
  background-color: var(--first-color);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 35px;
  text-decoration: none;
}

.header_text {
  text-decoration: none;
  color: white;
}

.side-bar {
  height: 100%;
  width: var(--sidebar-width);
  color: white;
  text-decoration: none;
  padding-top: 100px;
  background-color: var(--sixth-color);
  float: left;
  display: flex;
  position:fixed;
  overflow: hidden;

}

.side-bar-collapsed {
  padding-top: 100px;
  display: flex;
  position: fixed;
  background-color: var(--sixth-color);
  height: 100%;

}

.sidebar-link-display {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.sidebar-link-wrapper {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  width: var(--sidebar-width);
}

.sidebar-link-wrapper:hover {
  background-color: var(--first-color);
  text-decoration: none;
}

.main-view {
  height: 100%;
  color: white;
  padding-left: 75px;
}

.link-text {
  text-decoration: none;
}

.link-text: hover {

}

.link-icon {
  margin-right: 5px;
}

a {
  text-decoration: none;
}

.news_card {
  max-width: 250px;
  margin-bottom: 20px;
  max-height: 100px;
  min-height: 80px;
  text-overflow: ellipsis;
  padding: 5px;
  padding-top: 10px;
  background-color: var(--secondary-color)
}

.news_card a {
  color: white;
  font-size: 17px;
}

.cardList {
  max-height: 550px;
  overflow: scroll;
  padding: 5px;
  max-width: 270px;
  text-align: center;
  align-items: center;
  background-color: var(--first-color);
  padding-top: 15px;
  border: 5px solid var(--first-color);
}

.news-logo {
  float: left;
  height: 50px
}

.news_loader {
  height: 65px;
}
